# ACM AI Beginner Track
## Worksheet questions for the Intro to Python workshop
This worksheet contains questions to help you improve your Python programming skills. 

It's divided into two parts: **section one** for questions to be done during the workshop and **section two** for questions you can work on in your own time after the workshop.

### SECTION 1
Do these questions during the workshop once we tell you to.

#### Question 1
Print 183 in one line using the given two variables.

In [ ]:
x = 33
y = 42
#Type answer here.

#### Question 2
Print the phrase "You can't see me!" in a single statement.

In [ ]:
# Type answer here.

#### Question 3
Using a loop, print out every second entry in the array.

In [ ]:
arr = [1,2,3,4,5,6,7,8,9,0]
# Type answer here.

#### Question 4
Access the number 3 in the list below.

In [ ]:
confuse = [8, [[[2, [4]], 6, [7, 1], 3], 0, 5], 9]
# Type answer here.

#### Question 5
Using the map method, add the letter 's' to each string in the list below.

In [ ]:
add_s = ["among u", "su", "imposter"]
# Type answer here.

#### Question 6
Define a function that takes in a single number and returns the absolute value of that number.

In [ ]:
x = [1, 2, 3]

### SECTION 2
Feel free to do these questions after the workshop is over to further build on your Python skills. Some of these are a bit hard so don't feel demotivated if you can't get them immediately. Don't shy away from venturing outside of the details outlined in the reference document and looking up things online or asking any of the beginner track officers.

#### Question 1
Define a function that takes in a single number as seconds and returns the number of years that number represents.

In [ ]:
def seconds_to_years(seconds):
    # Type answer here.
    return None

#### Question 2
Define a function that takes in a list and a number as parameters and removes the entry at that number (position), shifting all entries after that position down the list and replacing the last entry with -1. If this can be successfully done, return the array itself, otherwise return "ERROR".

Remember, the first entry in a list is considered to be at position 0!

Example: ([1,2,3,4,5], 1) => [1,3,4,5,-1]

Example: ([1,2,3,4,5], 10) => "ERROR"

In [ ]:
def filter(array, pos):
    # Type answer here.
    return None

#### Question 3
Define a function that sorts a given list of numbers in ascending order.

In [ ]:
def asc(array):
    # Type answer here.
    return None

#### Question 4
Using a lambda function and the map method, print the phrase "SOME_WORD is a palindrome." if the word in the list below is a palindrome or "SOME_WORD is not a palindrome." if it isn't.

Example: "racecar is a palindrome."

Example: "pandas is not a palindrome."

In [ ]:
words = ['racecar', 'python', 'pandas', 'nun', 'madam', 'lambda']
# Type answer here.

#### Question 5
Define a function that takes a list as its only parameter and returns the first entry in the list that is repeated.
If no such entry is found, return -1.

Example: ([1,2,3,2,4,5,4]) => 2

Example: ([1,2,3]) => -1

In [ ]:
def repeat(array):
    # Type answer here.
    return None